[Unit]
Description=pi Security Sensor Service
After=network.target pivid.service

[Service]
Type=simple
SyslogIdentifier=pisense
Environment='SHOMESEC_PROJECT_DIR=/opt/shomesec'
EnvironmentFile=-/etc/default/shomesec/pisense.conf
PIDFile=/var/run/shomesec/pisense.pid
ExecStartPre=-/bin/mkdir -p /var/run/shomesec
ExecStartPre=-/bin/chown -R shomesec:shomesec /var/run/shomesec
ExecStart=/usr/bin/python3 ${SHOMESEC_PROJECT_DIR}/pisensor/securitysensor.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
